//contact page
.contact h2 {
	color:#770808;
}

 #info{
 font-family:"Lucida Grande", Arial, Helvetica, sans-serif;
 width:400px;
 height: 500px;
 float:left;
 //border:1px solid red;
 .infotitle {

 text-align:center;}
 .infolist{margin-top:20px;
 p {font-size: 120%;}
 }
 .infolabel{
 display:inline-table;
 width:80px;
 //border:1px solid red;
 text-align:left;}
 
 .infocontent{
 display:inline-table;
 width:300px;
 text-align:left;
 //border:1px solid red;
 }
 }
 

 #contactform{
  width:400px;
 height: 500px;
 float:right;
 //border:1px solid red;
 .formtitle {

 text-align:center;}
 }

//contct form


.google-form-wrapper {
  .error {
    color: red;
    font-size: 12px;
  }
  .errorbox-good {
    margin-bottom: 20px;
  }
  .success-msg {
    display: none;
  }
  .ss-form-entry {
    label {
      display:block;
    }
    input {
      display: block;
      padding: 5px;
      width: 350px;
      font: inherit;
    }
    textarea {
      width: 350px;
      height:100px;
      padding: 5px;
      font: inherit;
    }
  }
  .ss-navigate input {
    width: auto;
    cursor: pointer;
  }

  .ss-q-title label{
  display:inline-table;
  }

  .ss-required-asterisk{
  display:inline-table;
  
  }

  #navigation-buttons{
  #ss-submit { width:100px;
               
               }
  }
  .ss-secondary-text{
  display:none;
  }
}

//contact social

 #contactsocial{


 display:block;
 width:320px;
 height:80px;
 //border:1px solid red;
 margin:20px auto;


li{
	list-style-type: none;
	float:left;
    margin-right:15px;
}
a.apple{
background: url('/images/custom/contactsocial/apple64.png') center no-repeat;
display:inline-block;
width:64px;
height:64px;}


a.facebook {
background:url('/images/custom/contactsocial/facebook64.png') center no-repeat;
display:inline-block;
width:64px;
height:64px;}


a.twitter {
background:url('/images/custom/contactsocial/twitter64.png') center no-repeat;
display:inline-block;
width:64px;
height:64px;}

a.youtube {
background:url('/images/custom/contactsocial/youtube64.png') center no-repeat;
display:inline-block;
width:64px;
height:64px;}
    


}